/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  background-color: none;
  border-color: none;
}

input.ng-invalid.ng-touched, select.ng.ng-invalid.ng-touched {
    border-color: darkred;
}

.table {
    padding-bottom:100px;
}

html, body { height: 50%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
