<h1 id="tableLabel">Expense Details</h1>

<p *ngIf="!expense"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="expense">
  <tr>
    <th>Description</th>
    <td>{{ expense.description }}</td>
  </tr>
  <tr>
    <th>Sum</th>
    <td>{{ expense.sum }}</td>
  </tr>
  <tr>
    <th>Location</th>
    <td>{{ expense.location}}</td>
  </tr>
  <tr>
    <th>Date</th>
    <td>{{ expense.date}}</td>
  </tr>
  <tr>
    <th>Currency</th>
    <td>{{ expense.currency}}</td>
  </tr>
  <tr>
    <th>Type</th>
    <td>{{ expense.type}}</td>
  </tr>
  <tr>
    <th>Comments</th>
    <td>
      <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="!expense.commets">
        <tr *ngFor="let comment of expense.comments">
          <td>
            {{ comment.text}}
            <mat-icon *ngIf="comment.important == true">star_border</mat-icon>
          </td>
          <td>
            <div [routerLinkActive]="['link-active']">
              <button class="btn-link" [routerLink]="['/expenses/' + expense.id + '/comment-add/' + comment.id]"><mat-icon>edit</mat-icon></button>
              <button class="btn-link" (click)="deleteComment(comment.id)"><mat-icon>delete</mat-icon></button>
            </div>
          </td>
        </tr>
      </table>
      <div [routerLinkActive]="['link-active']">
        <a class="nav-link text-dark" [routerLink]="['/expenses/' + expense.id + '/comment-add/0']"><mat-icon>add</mat-icon></a>
      </div>
    </td>
  </tr>
</table>
