<h1 id="tableLabel">Expenses</h1>

<p>Get a list of all expenses.</p>

<p *ngIf="!expenses"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="expenses">
  <thead>
    <tr>
      <th>Description</th>
      <th>Sum</th>
      <th>Location</th>
      <th>Date</th>
      <th>Currency</th>
      <th>Type</th>
      <th>No of comm</th>
      <th>Operations</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let expense of expenses">
      <td>{{ expense.description }}</td>
      <td>{{ expense.sum }}</td>
      <td>{{ expense.location }}</td>
      <td>{{ expense.date }}</td>
      <td>{{ expense.currency }}</td>
      <td>{{ expense.type }}</td>
      <td>{{ expense.commentsNumber }}</td>
      <td>
        <div [routerLinkActive]="['link-active']">
          <a class="nav-link text-dark" [routerLink]="['/expenses', expense.id]">Details</a>
        </div>
      </td>
    </tr>
  </tbody>
</table>


<button class="btn btn-secondary mr-5" [routerLink]="['/expense-add']">Add new expense</button>


