<h1 id="tableLabel">Expenses</h1>

<p *ngIf="!expenses"><em>Loading...</em></p>
<br /><br />
<table class=" table">
  <tr>
    <th><mat-icon>search</mat-icon></th>
    <td>
      <input  class="fromDate" type="datetime" placeholder="Search from date: 2020-06-12" [(ngModel)]="searchStartDate" style="width: 250px"/>
    </td>
    <td>
      <input  class="toDate" type="datetime" placeholder="Search to date: 2020-06-12" [(ngModel)]="searchEndDate" style="width: 250px"/>
    </td>
    <td>
      <input  class="type" type="text" placeholder="Search by type" [(ngModel)]="searchType" style="width: 250px"/>
    </td>
  </tr>
</table>
<br /><br />


<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="expenses">
  <thead>
    <tr>
      <th>Description</th>
      <th>Sum</th>
      <th>Location</th>
      <th>Date</th>
      <th>Currency</th>
      <th>Type</th>
      <th>No of comm</th>
      <th>Operations</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let expense of expenses | expenseFilter: searchType : searchStartDate : searchEndDate">
      <td>{{ expense.description}}</td>
      <td>{{ expense.sum }}</td>
      <td>{{ expense.location }}</td>
      <td>{{ expense.date | date: 'y-MM-dd' }}</td>
      <td>{{ expense.currency }}</td>
      <td>{{ expense.type }}</td>
      <td>{{ expense.commentsNumber }}</td>
      <td>
        <div [routerLinkActive]="['link-active']">
          <button class="btn-link"  [routerLink]="['/expenses', expense.id]"><mat-icon>more</mat-icon></button>
          <button class="btn-link" [routerLink]="['/expense-add', expense.id]"><mat-icon>edit</mat-icon></button>
          <button class="btn-link" (click)="delete(expense.id)"><mat-icon>delete</mat-icon></button>
        </div>
      </td>
    </tr>
  </tbody>
</table>


<div [routerLinkActive]="['link-active']">
  <a class="nav-link text-dark" [routerLink]="['/expense-add/0']"><mat-icon>add</mat-icon></a>
</div>



