.btnLeft {
  position: absolute;
  left: 100px;
  background: none;
  border: none;
}

.btnRight {
  position: absolute;
  right: 100px;
  background: none;
  border: none;
}

.mat-icon {
    color: black;
}

table {
  width: 100%;
}

