<h1 id="tableLabel"> Add new expense.</h1>

<div class="container">
  <div class=" row">
    <div class=" col-10">
      <div class=" jumbotron">
        <form [formGroup]="expenseForm" (ngSubmit)="onSubmit(expenseForm)">
          <div class="form-group">
            <label>Description</label>
            <input type="text" class=" form-control" placeholder="Enter a description" formControlName="description" />
            <!--<span *ngIf="form.get('description').errors?.required">Description is required</span>-->
            <span *ngIf="expenseForm.get('description').errors?.serverError">
              {{ expenseForm.get('sum').errors?.serverError }}
            </span>
          </div>

          <div class="form-group">
            <label>Sum</label>
            <input type="number" class=" form-control" placeholder="0,00" formControlName="sum" />
            <!--<span *ngIf="form.get('sum').errors?.required">Sum is required</span>-->
            <span *ngIf="expenseForm.get('sum').errors?.serverError">
              {{ expenseForm.get('sum').errors?.serverError }}
            </span>
          </div>

          <div class="form-group">
            <label>Location</label>
            <input type="text" class=" form-control" placeholder="Cluj-Napoca" formControlName="location" />
            <!--<span *ngIf="form.get('location').errors?.required">Location is required</span>-->
            <span *ngIf="expenseForm.get('location').errors?.serverError">
              {{ expenseForm.get('sum').errors?.serverError }}
            </span>
          </div>

          <div class="form-group">
            <label>Date</label>
            <input type="datetime" class=" form-control" placeholder="2020-05-28" formControlName="date" />
            <!--<span *ngIf="form.get('date').errors?.required">Date is required</span>-->
            <span *ngIf="expenseForm.get('date').errors?.serverError">
              {{ expenseForm.get('date').errors?.serverError }}
            </span>
          </div>

          <div class="form-group">
            <label>Currency</label>
            <select class=" form-control" formControlName="currency">
              <option *ngFor="let currencyType of currencyTypes" [value]="currencyType">
                {{currencyType}}
              </option>
            </select>
          </div>

          <div class="form-group">
            <label>Type</label>
            <select class=" form-control" formControlName="type">
              <option *ngFor="let typeType of typeTypes" [value]="typeType">
                {{typeType}}
              </option>
            </select>
          </div>

          <button class="btn btn-secondary btnLeft" type='submit' [disabled]="!expenseForm.valid">Add</button>
          <button (click)="goBack()" class="btn btn-secondary btnRight">Back</button>

        </form>
      </div>
    </div>
  </div>
</div>




